body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

#header{
  display: flex;
  flex-direction: row;
  height: 3em;
  width: auto;
  background-color: #ddf3f5;
  justify-content: center;
}

.header2{
  display: flex;
  flex-direction: row;
  height: 3em;
  width: auto;
}

.menu{
  margin-top: 1.5em;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.aboutme{
  color: #031e1f;
  cursor: default;
}

.self{
  text-decoration: underline;
}

.menu:hover {
  color: #031e1f;
}

#middle{
  margin: 6.2em 0;
}

.skill-row{
  width: 50%;
  margin: 4.3em auto 4.3em auto;
  text-align: left;
}

.intro{
  width: 25%;
  margin: auto;
}

.skills-img{
  width: 19%;
  float: left;
  margin-right: 1.8em;
}

.skills-design{
width: 23%;
float: right;
margin-left: 1.8em;
}

h1{
  margin: 3.1em auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.6em;
  color: #66BFBf;
  line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBf;
  font-weight: normal;
  padding-bottom: 0.6em;
}

h3{
  color: #11999E;
}

p{
  line-height: 1.5;
}

hr{
  border: dotted #66BFBf 0.3em;
  border-bottom: none;
  width: 4%;
  margin: 4.3em auto;
}


#footer{
  padding: 3.1em 0 3.1em 0;
  background-color: #ddf3f5;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0.6em 1.2em;
  text-decoration: none;
}

a:hover {
  color: #031e1f;
}

.copyright{
  color: #11999E;
  font-size: 0.8em;
  padding: 0.6em 0;
}