body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

#header{
  display: flex;
  flex-direction: row;
  height: 4.2em;
  width: auto;
  background-color: #ddf3f5;
  justify-content: center;
}

.header2{
  display: flex;
  flex-direction: row;
  height: 3em;
  width: auto;
}

.menu{
  margin-top: 1.5em;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.portfolio{
  color: #031e1f;
  cursor: default;
}

.self{
  text-decoration: underline;
}

.menu:hover {
  color: #031e1f;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBf;
  font-weight: normal;
  padding-bottom: 0.6em;
}

#middle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 38em;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBf;
  font-weight: normal;
}

.rows{
  display:flex;
  flex-direction: row;
}

.console{
  width: 50em;
}

.simon{
  width: 50em;
}

.row1{
  margin-top: 2em;
}

.row2{
  height: 33.7em;
}

img{
  margin-top: 1em;
  height: 33em;
  margin-left: 3.5em;
}

.row{
  margin-top: 15em;
}

#footer{
  padding: 3.1em 0 3.1em 0;
  background-color: #ddf3f5;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0.6em 1.2em;
  text-decoration: none;
}

a:hover {
  color: #031e1f;
}

.copyright{
  color: #11999E;
  font-size: 0.8em;
  padding: 0.6em 0;
}